[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
ansible = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
docs = "mkdocs serve"
build_docs = "mkdocs build"
