resolvers local
   nameserver local 127.0.0.1:53
   accepted_payload_size 8192
   hold valid 5s

frontend stats
    bind *:1936
    mode http
    stats uri /stats
    stats enable
    stats refresh 10s
    no log
{% for redirect in haproxy_k3s_redirects %}
{% for port in redirect['ports'] %}

frontend f_{{ redirect['name'] }}_{{ port }}
    bind *:{{ port }}
    default_backend b_{{ redirect['name'] }}_{{ port }}

backend b_{{ redirect['name'] }}_{{ port }}
{% if redirect['target_ips'] is defined %}{% for ip in redirect['target_ips'] %}
    server {{ ip }} {{ ip }}:{{ port }} check init-addr none
{% endfor  %}{% endif %}
{% if redirect['target_hostnames'] is defined %}{% for host in redirect['target_hostnames'] %}
    server {{ host }} {{ host }}:{{ port }} check resolvers local resolve-prefer ipv4 init-addr none
{% endfor  %}{% endif %}
{% endfor  %}{# End port cycle #}
{% endfor  %}{# End redirect cycle #}
