{
    "bind_addr": "{{ bind_addr }}",
    "bootstrap_expect": {{ 0 if not consul_master else master_list | length }},
    "client_addr": "0.0.0.0",
    "connect": {
        "enabled": true
    },
    "datacenter": "DC1",
    "data_dir": "/opt/consul",
    "domain": "{{ consul_domain_suffix }}",
    "enable_script_checks": true,
    "dns_config": {
        "enable_truncate": true,
        "only_passing": true
    },
    "enable_syslog": true,
    "encrypt": "{{ consul.gossip_secret }}",
    "leave_on_terminate": true,
    "log_level": "ERR",
    "log_file": "/var/log/consul/consul.log",
    "rejoin_after_leave": true,
    "retry_join": ["{{ master_list | join('", "') }}"],
    "server": {{ "true" if consul_master else "false" }},
    "ports": {
        "serf_lan": 9301
    },
    "start_join": ["{{ master_list | join('", "') }}"],
    "ui": true
}
