ACTION=="add|change", ATTRS{idVendor}=="{{ vendor_id }}", ATTRS{idProduct}=="{{ product_id }}", SUBSYSTEM=="scsi_disk", ATTR{provisioning_mode}="unmap"