---
write-kubeconfig-mode: "0644"
{% if k3s_datastore_endpoint is defined %}
datastore-endpoint: "{{ k3s_datastore_endpoint }}"
{% endif %}
token: "{{ k3s_token }}"
tls-san:
  - "{{ lb_internal_floating_ip }}"
  - "{{ lb_external_floating_ip }}"
disable:
  {{ "- traefik" if not k3s_components['traefik'] else "" }}
  {{ "- servicelb" if not k3s_components['servicelb'] else "" }}
  {{ "- local-storage" if not k3s_components['local-storage'] else "" }}
  {{ "- servicelb" if not k3s_components['servicelb'] else "" }}
  {{ "- coredns" if not k3s_components['coredns'] else "" }}
{% if node_taint is defined %}
node-taint: "{{ node_taint }}"
{% endif %}
...
