# https://www.linux.com/topic/networking/dns-and-dhcp-dnsmasq/
# GLOBAL options
domain-needed
bogus-priv
#no-resolv
filterwin2k
expand-hosts
local=/{{ network_domain }}/
domain={{ network_domain }}
listen-address=127.0.0.1
#listen-address={{ external_floating_ip }}
listen-address={{ internal_floating_ip }}

# DHCP range
dhcp-range=10.0.2.1,10.0.254.254,12h

# DHCP options
# Reference: https://www.efficientip.com/glossary/dhcp-option/
dhcp-option=option:router,{{ internal_floating_ip }}
dhcp-option=option:dns-server,{{ internal_floating_ip }}

# Upstream DNS servers
{% if consul.enabled %}
# Consul domain
server=/{{ consul.domain }}/127.0.0.1#8600
{% endif %}
# Use open source DNS servers
server=1.1.1.1
server=8.8.8.8
server=208.67.220.220


#Create custom 'domains'.
# Custom 'domains' can also be added in /etc/hosts
#address=/$DOMAIN/$EXTERNAL_IP
